# Ignore all node_modules folders
**/node_modules/

# Ignore all log files
**/*.log

# Ignore all .env files
**/.env

# Ignore build and dist directories
**/build/
**/dist/

# Ignore temporary files and IDE specific files
**/.vscode/
**/.idea/
**/.cache/

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore package lock files
**/package-lock.json
**/yarn.lock

# Ignore coverage folders from testing
**/coverage/

# Ignore npm-debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/serviceAccountKey.json

# Ignore other system-specific files
**/Thumbs.db
